<html>
    <header>
        <h1>Car parts picker</h1>
    </header>
    <body>
        <div>
            TEST PAGE PRODUIT
            <div>
                <h3 th:text="${carPart.name}"></h3>
                    <div>Prix : <span th:text="${carPart.price}"></span> € </div>
                    <div>Poids : <span th:text="${carPart.weight}"></span> kg </div>
                    <div><img width="100" height="100" th:src="@{${carPart.imageUrl}}"></div>
            </div>
        </div>
    </body>
    <footer>
        
    </footer>
</html>