<html>
    <head>
        <link rel="stylesheet" href="css/categoryPicker.css">
    </head>
    <body>
        <h1>Car parts picker </h1>
        <div class="navbar" >
            <div th:each="mainCat : ${mainCategoriesList}">
                <a th:if="${mainCat.subCategories.size()<=0}" th:href="${'/SpringRestHibernate/carPartsList?categoryId='+ mainCat.id}"><span th:text="${mainCat.name}"></span></a>
                <div th:if="${mainCat.subCategories.size()>1}" class="dropdown">
                    <button class="dropbtn" th:text="${mainCat.name}">
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div  class="dropdown-content">
                        <div th:each="subCat : ${mainCat.subCategories}">
                            <a th:href="${'/SpringRestHibernate/carPartsList?categoryId='+ subCat.id}" ><span th:text="${subCat.name}"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>