<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/categoryPicker.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/common.css">
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="img"></script>
    
</head>
<body onload="addEvents()">
    <div class="header">
        <a href="/SpringRestHibernate/index" ><span>Car parts picker </span></a>
    </div>
    <div class="navbar" >
        <div th:each="mainCat : ${mainCategoriesList}">
            <a th:if="${mainCat.subCategories.size()<=0}" th:href="${'/SpringRestHibernate/carPartsList?categoryId='+ mainCat.id}"><span th:text="${mainCat.name}"></span></a>
            <div th:if="${mainCat.subCategories.size()>1}" class="dropdown">
                <button class="dropbtn" th:text="${mainCat.name}" >
                <i class="fa fa-caret-down"></i>
                </button>
                <div  class="dropdown-content">
                    <div th:each="subCat : ${mainCat.subCategories}">
                        <a th:href="${'/SpringRestHibernate/carPartsList?categoryId='+ subCat.id}" ><span th:text="${subCat.name}"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class= "basketClass">
	        <div class= "dropdown " id = "dropDownMouseOver">
		        <button class="dropbtn" th:text="Basket">
		        	<img src="./img/cart.png"/>
		        </button>
		        <div  class="dropdown-content" id="basketDropDownContent"></div>
			</div>
        </div>
    </div>
    <form  action="/SpringRestHibernate/carPartsList" method="get">
        <div class="search_area">
            <input class="search_bar" type="text" placeholder="Search category" name="searchQuery">
            <div>
            <select class="search_category"  name="categoryId">
                <option th:each="category : ${nonEmptyCategoriesList}" th:utext="${category.name}" th:value="${category.id}"></option>
            </select>
            <input class="submit_button" type="submit" value="Search">
        </div>
        </div>
    </form>
</body>
</html>
