<html>
    <header>
        <h1>Car parts picker </h1>
    </header>
    <body>
        <!-- <div th:each="carPart : ${carPartsList}">
            <div><span th:text="${carPart.name}"></span></div>
            <div>Prix : <span th:text="${carPart.price}"></span> € </div>
            <div>Poids : <span th:text="${carPart.weight}"></span> kg </div>
            <div><img width="100" height="100" th:src="@{${carPart.imageUrl}}"></div>
        </div>
        <div> -->
            TEST CATEGORIES
            <!-- <ul th:each="mainCat : ${mainCategoriesList}" th:text="${mainCat.name + mainCat.subCategories.size()}">
                <li th:each="subCat : ${mainCat.subCategories}" >
                    <span th:text="${subCat.name}" ></span>
                </li>
            </ul> -->
            <ul>
                <span th:each="mainCat : ${mainCategoriesList}">
                    <h3 th:text="${mainCat.name}"></h3>
                        <li th:each="subCat : ${mainCat.subCategories}">
                            <p th:text="${subCat.name}"></p>
                            <!-- je laisse ca la pour l'instant mais on a normalement pas a afficher de produits sur cette page -->
                            <!-- <div th:each="carPart : ${subCat.carParts}">
                                <div><span th:text="${carPart.name}"></span></div>
                                <div>Prix : <span th:text="${carPart.price}"></span> € </div>
                                <div>Poids : <span th:text="${carPart.weight}"></span> kg </div>
                                <div><img width="100" height="100" th:src="@{${carPart.imageUrl}}"></div>
                            </div> -->
                        </li>
                </span>
            </ul>
        </div>
    </body>
    <footer>
        
    </footer>
</html>